[Unit]
Description=Temperature Logger (One Wire)
Documentation=https://github.com/uwe/temperature-logger
After=network.target

[Service]
User=pi
ExecStart=/home/pi/temperature-logger --host 192.168.3.216 --sleep 20
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target

